.text-input {
    border: 1px solid #cacccd;
    font-size: $font-size-large;
    font-weight: 300;
    height: 50px;
    padding: $s-size;
}

.text-area {
    height: 10rem;
    @extend .text-input;
}

.select {
    @extend .text-input;
}
