{
    "presets": [
        ["env", {
            "production": {
                "plugins": ["transform-react-remove-prop-types"]
            }
        }],
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread", [
            "transform-imports", {
                "react-router": {
                    "transform": "react-router/${member}",
                    "preventFullImport": true
                }
            }
        ]
    ]
}
